*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #4B5945;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background: #66785F;
    padding: 40px 60px;
}
h2{
    color: #ffffff;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
.reset{
    padding: 15px 20px;
    color: #4B5945;
    background: #ffffff;
    border: none;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}
.reset:focus{
    /* background-color: #B2C9AD; */
    background-color: #91AC8F;
    color: #ffffff;
}   
.game{
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}
.item{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background: #fff;
    transform: rotateY(180deg);
    transition: .25s;
}
.item .boxOpen{
    transform: rotateY(0);
}
.item::after{
    content: "";
    position: absolute;
    inset:0;
    background: #B2C9AD;
    /* opacity: .90; */
    transition: .25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}
.boxOpen:after,
.boxMatch:after{
    transform: rotateY(180deg);
}